/* --- Scrollbar -- */

::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 7px;
    border: 3px solid transparent;
    background-clip: content-box;
    min-height: 24px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-button {
    width: 14px;
    height: 14px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-button:vertical:increment {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-down-disabled);
    background-position: center center;
    background-size: 9px;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-up-disabled);
    background-position: center center;
    background-size: 9px;
}

::-webkit-scrollbar-button:vertical:increment:hover {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-down);
    background-position: center center;
    background-size: 9px;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-up);
    background-position: center center;
    background-size: 9px;
}

::-webkit-scrollbar-button:horizontal:increment {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-right-disabled);
    background-position: center center;
    background-size: 9px;
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-left-disabled);
    background-position: center center;
    background-size: 9px;
}

::-webkit-scrollbar-button:horizontal:increment:hover {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-right);
    background-position: center center;
    background-size: 9px;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
    background-repeat: no-repeat;
    background-image: var(--img-arrow-left);
    background-position: center center;
    background-size: 9px;
}
